/* function */
@keyframes ripple {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.02);
  }
}

/* component */
.checkbox {
  display: none;
}

.checkbox + label {
  --size: 80%;
  --radius: 50%;
  border: 3px solid #0a0a0a;
  border-radius: var(--radius);
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 50px;
  position: relative;
}

.checkbox + label:before {
  background-color: red;
  border-radius: var(--radius);
  bottom: 0;
  content: '';
  height: var(--size);
  left: 0;
  margin: auto;
  position: absolute;
  right: -1px;
  top: 0;
  transition: all .25s cubic-bezier(1, 0, 0, 0.2);
  width: var(--size);
}

.checkbox:checked + label {
  animation: .15s ripple .25s;
}

.checkbox:checked + label:before {
  --size: 50%;
  --radius: 10%;
  transform: rotateZ(180deg);
}
